<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 카멜케이스 자동 매핑 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- NULL 값도 매핑 -->
        <setting name="callSettersOnNulls" value="true"/>
        <!-- 로깅 설정 -->
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <typeAliases>
        <!-- 모델 패키지 alias 등록 -->
        <package name="com.example.Globalin.model"/>
        <package name="com.example.Globalin.dto"/>
    </typeAliases>
</configuration>
